body {
    background-color: rgb(56, 56, 56);
    padding: 0.5em;
    text-transform: uppercase;
    overflow: hidden;
}


.show{
    display: block !important;
}

.hide{
    display: none !important;
}

.numOutput{
    font-size:  calc(2.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    width: 7vw;
    height: 7vw;
    color: #f2f2f2;
    border-radius: 50%;
    background-color: #f2f2f2;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}

.numOutput-2{
    font-size:  calc(2.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    width: 6vw;
    height: 6vw;
    color: #f2f2f2;
    border-radius: 50%;
    background-color: #f2f2f2;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}

.animationOutputWithBorder{
    width: 5.5em !important;
    height: 5.5em !important;
    border: 1px solid #ffb01d;
}

.zoom{
    width: 5.5em !important;
    height: 5.5em !important;
}

/* start style page 1 */
#page1{
    display: flex;
    flex-direction: row;
}

.page1items{
    height: 97vh;
}

#page1items-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
 }

 /* start style for global table page 1*/
 .itemtable{
    border-collapse: collapse;
    border-radius: 0.8em;
    overflow: hidden;
    text-align: center;
    display: none;
 }

 .itemtable tr{
    width: 100%;
    height: 2em;
 }

 /* pair */
 .itemtable tr:nth-child(even) {
     background-color: #f2f2f2;
 }
 
 /* impair */
 .itemtable tr:nth-child(odd):not(:first-child) {
     background-color: #d1d0d0 ;
 }
 
 .itemtable tr:first-child {
     background-color: red;
     color:white;
  
 }
 
 .itemtable tr td{
   font-size:  calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
   font-weight: bold;
   border :0.5px solid  rgb(117, 116, 116);;
 }
  /* end style for global table */


/* start page 1 items 1 */
div.logo-container {
    background-color: red;
    border-radius:0.5em;
    width: 100%;
    text-align: center;
    color:white;
    font-weight: bold;
    height: 4vw;
}

div.logo-container>img {
  border-radius:0.5em;
  height: 100%;
  width: 100%;
}

#page1item1{
    width: 15%;
}

/* start item1 table */
#item1table{
    width: 100%;
    height: 55%;
}
/* end item 1 table */

.shuffle{
    height: 28vh;
    border-radius: 50%;
    background-color: #f2f2f2;
    width: 15vw;
    margin: 0.5em auto;
    visibility: hidden;
}

.shuffle > img{
    height: 100%;
    border-radius: 50%;
    background-color: rgb(56, 56, 56);
    width: 100%;
}
/* end page 1 items 1 */


/* start page 1 items 2 */
#page1item2{
    width: 70%;
    padding-left: 1%;
    padding-right: 1%;
}

/* start item2 bloc 1 */
#page1item2-bloc1 {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

#page1item2-bloc1-item-1{
    width: 50%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-right:1px solid  rgb(56, 56, 56);
    margin: 0 auto;
}

.label-bloc1{
    font-weight: bold !important;
    font-size:  calc(0.8em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

}

.jackpot-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
}

.jackpot-container-page-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jackpot-container-page-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jackpot-container-page-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.countJackpot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: 'space-between';
    height: 10vh;
}

.countJackpot-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: 'space-between';
}

.divider-jackpot{
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin-right: 2em;
    text-align: center;
    margin: 0 auto;
}

.divider-jackpot>span{
    font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: red;
}

.numberJackpot{
    font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: red;
}

.numberJackpot-2{
    font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: red;
}

.numberJackpot-page-4{
    font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: red;
}

.numberJackpot-page-4-2{
       font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: red;
}


.numberJackpot-page-2-2,.numberJackpot-page-3-2{
    font-size:  calc(3.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

.numberJackpot-page-2,.numberJackpot-page-3{
    font-size:  calc(3.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

.divider-jackpotPage2{
    display: inline-flex;
    flex-direction: column;
    margin-right: 2em;
    text-align: center;
    margin: 0 auto;
}
.divider-jackpotPage2>span{
    font-size:  calc(3.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: white;
}

.value-bloc1{
    font-size:  calc(3.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: red;
}
#page1item2-bloc1-item-2{
    width: 50%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    margin: 0 auto;
}
/* end item2 bloc 1 */

/* start item2 bloc 2 */
#page1item2-bloc2 {
    width: 100%;
    height: 85%;
    display: flex;
    padding-top: 0.5em;
}

/* start bloc2 items 1  */
#page1item2-bloc2-item1{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page1item2-bloc2-item1:not(:last-child){
    margin-right:0.5em;
}

/* start bloc2 items 1 table1 */
#bloc2-item1table{
    width: 98%;
    height: 20vh;
}
/* end bloc2 items 1 table1 */

/* start bloc2 items 2 table2 */
#bloc2-item2table{
    width: 98%;
    height: 60vh;
}
/* end bloc2 items 2 table2 */

/* start bloc2 items 2 table3 */
#bloc2-item3table{
    width: 98%;
    height: 25vh;
}
/* end bloc2 items 2 table3 */

/* start bloc2 items 2 table4 */
#bloc2-item4table{
    width: 98%;
    height: 55vh;
}
/* end bloc2 items 2 table4 */

/* start bloc2 items 2 table5 */
#bloc2-item5table{
    width: 98%;
    height: 30vh;
}
/* end bloc2 items 2 table5 */

/* start bloc2 items 2 table6 */
#bloc2-item6table{
    width: 98%;
    height: 50vh;
}
/* end bloc2 items 2 table6 */

/* start bloc2 items 2 table7 */
#bloc2-item7table{
    width: 99%;
    height: 35vh;
}
/* end bloc2 items 2 table7 */

/* start bloc2 items 2 table8 */
#bloc2-item8table{
    width: 99%;
    height: 45vh;
}
/* end bloc2 items 2 table8 */
/* end item 2 bloc2 items  */
/* end item2 bloc 2 */
/* end page 1 items 2 */

/* start page 1 items 3 */
#page1item3{
    width: 15%;
}

/* start item3 table */
#item9table{
    width: 100%;
    height: 39vh;
}

#item10table{
    width: 100%;
    height: 55vh;
}
/* end item 3 table */
/* end page 1 items 3 */
/* end style page 1 */


/* start style page 2 */
#page2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 97vh;
}

.value{
    font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.tirage-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* start bloc left */
#page2-bloc-left{
    width: 35%;
    height: 100%;
    /* background-color:red; */
    display:flex;
    flex-direction: column;

}

/* start page2 shuffle */
#page2-shuffle{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}


#shuffle-container {
    border-radius: 50%;
    background-color: rgb(56, 56, 56);
    /* margin: 0.5em auto; */
    position: absolute;
    width: 35vw;
    height: 35vw;
    position: relative;
    visibility: hidden;
}

#shuffle-container >img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
}


/* end page 2 shuffle */

/* start page2 jakpot */
#page2-jackpot{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    height: 15%;
    width: 100%;
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;
}

/* end page2 jakpot */

/* start page 2 tirage */
#page2-tirage{
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    height: 15%;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    visibility: hidden;
}
/* end page 2 tirage */
/* end bloc left */

/* start bloc right */
#page2-bloc-right{
    width: 65%;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 0.5em;
    justify-content: space-between;
}

/* start bloc right 1 output  */
#number-output-container{
    width: 100%;
    height: 22%;
}

.number-output{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 0.5em;
    visibility: hidden;
}

.number-output-item{
    color: #f2f2f2;
    width: 6vw;
    height: 100%;
    border-radius: 50%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}

/* end bloc right 1 output  */

/* start bloc right 1 input  */
#number-input-container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#outputZoom{
    position: absolute;
	width: 25vw;
	height: 25vw;
    border-radius: 50%;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:white;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    visibility: hidden;
}

#multiplicateur{
    position: absolute;
    width:15vw;
    height: 10vw;
    border-radius: 2em;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center; 
    color:#3d3d3d !important;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    visibility: hidden;
}

#multiplicateur>span{
    font-weight: bold;
    font-size:  calc(5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    
}

#outputZoom>span{
    font-weight: bold;
    font-size:  calc(7em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.number-input{
    width: 100%;
    height: 10vh;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    visibility: hidden;
}

.number-input-item{
    width: 7vw;
    height: 100%;
    background-color: #f2f2f2;
    border: 1px solid  rgb(56, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}

.number{
    font-weight: bold;
        font-size:  calc(1.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}


/* end bloc right 1 input  */
/* end bloc right */
/* end style page 2 */


/* start style page 3 */

#page3{
    display: flex;
    width: 100%;
    height: 97vh;
    flex-direction: column;
    justify-content: space-evenly;
}

#page3-output-winnner-container{
    display: flex;
    width: 100%;
    height: 30vh;
    flex-direction:column;
    margin-bottom: 5em;
    justify-content: center;
    align-items: center;
}

#page3-output-winnner-1{
    display: flex;
    width: 100%;
    height: 15vh;
    flex-direction:row;
    justify-content: space-evenly;
    visibility: hidden;
}

#page3-output-winnner-2{
    display: flex;
    width: 100%;
    height: 15vh;
    flex-direction:row;
    justify-content: space-evenly;
    visibility: hidden;
}

#page3-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin :1em auto;
    visibility: hidden;
}

#page3-jackpot-tirage{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    visibility: hidden;
}

#page3-jackpot{
    display:flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    background-color: red;
    color: #f2f2f2;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    font-weight: bold;
}

.page3-tirage-item span:first-child,
#page2-tirage span:first-child,
{
        font-size:  calc(1.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    
}

.page3-tirage-item span:last-child,
#page2-tirage span:last-child
{
    font-weight: bold;
        font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}


#page3-tirage{
    display:flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 100%;
    background-color: #f2f2f2;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.page3-tirage-item{
    display:flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    font-weight: bold;
}

/* end style page 3 */


/* start page 4 */
#page4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 97vh;
}

#page4bloc1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}

#page4bloc1-shuffle{
    width: 15%;
    height: 100%;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page4bloc1-shuffle > img{
    width:12w;
    height: 22vh;
    border-radius: 50%;
    margin: 0 auto;
}

#page4bloc1-jackpot{
    width: 30%;
    height: 100%;
    background-color: #f2f2f2;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    visibility: hidden;
}

#page4bloc1-jackpot>span:first-child{
    font-size:  calc(2em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

#page4bloc1-jackpot>span:last-child{
    font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

#page4bloc1-bonus-last-tirage{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5em;
    background-color: #f2f2f2;
    visibility: hidden;
}

#page4bloc1-bonus-last-tirage>span:first-child{
    font-size:  calc(0.4em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

#page4bloc1-bonus-last-tirage-contain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page4bloc1-bonus-last-tirage-item{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.page4bloc1-bonus-last-tirage-item:not(:last-child){
    border-right: 1px solid #3d3d3d;
}

.page4bloc1-bonus-last-tirage-item>span{
    font-size:  calc(0.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    display: inline-block;
    font-weight: bold;
}

.page4bloc1-bonus-last-tirage-item>span:last-child{
        /* font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
}

#page4bloc1-logo-time{
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page4bloc1-logo-time-logo{
    background-color: red;
    height: 48%;
    width: 100%;
    border-radius: 0.5em;
    border-radius: 0.5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    visibility: hidden;
}

#page4bloc1-logo-time-logo>img{
    border-radius:0.5em;
    height: 100%;
    width: 100%;
}

#page4bloc1-logo-time-time{
    background-color: #f2f2f2;
    height: 48%;
    width: 100%;
    border-radius: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;
}

#page4bloc1-logo-time-time>span:first-child{
    font-size:  calc(0.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

#page4bloc1-logo-time-time>span:last-child{
    font-size:  calc(1.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: red;
    font-weight: bold;
}

#page4bloc2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 38vh;
    background: #f2f2f2;
    border-radius: 0.5em;
    font-weight: bold;
    visibility: hidden;
}

#page4bloc2-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
 }



#page4bloc2-table tr{
    width: 100%;
    height: 20%;
 }

#page4bloc2-table tr td{
    font-size:  calc(0.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

 /* pair */
 #page4bloc2-table tr:nth-child(even) {
    background-color:  #d1d0d0;
 }
 
 /* impair */
 #page4bloc2-table tr:nth-child(odd) {
     background-color: #f2f2f2;
 }

 .page4bloc2-table-number{
     display: inline-block;
     font-weight: bold;
     height: 2em;
     width: 2em;
     font-size:  calc(0.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
     border-radius: 50%;
     background-color: red;
     color: white !important;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
 }
 
#page4bloc3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 18vh;
    border-radius: 0.5em;
}

#page4bloc3-table-2{
    width: 59.3%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
    visibility: hidden;
}


#page4bloc4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 18vh;
    border-radius: 0.5em;
}


#page4bloc3-table-1{
    width: 40%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
    visibility: hidden;
}

#page4bloc3-table-1 tr td{
    font-size:  calc(0.6em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}



#page4bloc3-table-1 tr:last-child td:not(:first-child) span{
  display: inline-block;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin:0 auto;
  font-weight: bold;
}

#page4bloc3-table-2 tr td{
    font-size:  calc(0.6em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

#page4bloc4-table-1{
    width: 40%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
    visibility: hidden;
}

.page4bloc-table tr{
   width: 100%;
   font-weight: bold;
}

.page4bloc-table tr:first-child{
    height: 30%;
}
 



.page4bloc-table tr:first-child td{
   color: white;
   font-weight: bold;
   background-color: red;
}

#page4bloc4-table-1 tr td span.num{
  display: inline-block;
  height: 2em;
  width: 2em;
      /* font-size:  calc(1.1em + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin:0 auto;
  font-weight: bold;
}

/* pour les cellules ayant des index pair */
.page4bloc-table tr:not(:first-child) td:nth-child(even){
    background-color:  #d1d0d0;
        /* font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
}

/* pour les cellules ayant des index imppair */
.page4bloc-table tr:not(:first-child) td:nth-child(odd){
    background-color: #f2f2f2 ;
        /* font-size:  calc(3em + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
}

#page4bloc4-table-2{
    width: 59.3%;
    height: 100%;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
    text-align: center;
    visibility: hidden;
}



#page4bloc4-table-1 tr td{
    font-size:  calc(0.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}

#page4bloc4-table-2 tr td{
    font-size:  calc(0.5em + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
}
/* end page 4 */
